




.organizer {
  border: #822468 solid 2px;
  padding: 20px;
  box-shadow: #ffda15 2px 2px;
  margin-bottom: 20px;
  height: 200px;
  width: 170px;
  object-fit: cover;
}

.custom-list li::before {
  position: absolute;
  left: 0;
  top: 7px;
  height: 7px;
  width: 7px;
  background-color: #ffda15;
  
}